# Laravel Environment Files
.env
.env.*    # .env.production, .env.backup, etc.

# Log Files & Cache
*.log
.phpunit.result.cache
/storage/*.key

# Node Modules & Vendor
/node_modules
/vendor

# IDEs & Tools
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
Thumbs.db
.DS_Store

# Laravel Specific
/public/storage
/public/hot
/public/build
/storage/pail

# Misc
auth.json
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml
